[submodule "environments/production/modules/zabbix"]
	path = environments/production/modules/zabbix
	url = https://github.com/dj-wasabi/puppet-zabbix.git
[submodule "environments/production/modules/postgresql"]
	path = environments/production/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "environments/production/modules/stdlib"]
	path = environments/production/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "environments/production/modules/apache"]
	path = environments/production/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "environments/production/modules/firewall"]
	path = environments/production/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "environments/production/modules/inifile"]
	path = environments/production/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "environments/production/modules/concat"]
	path = environments/production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "environments/production/modules/ruby"]
	path = environments/production/modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "environments/production/modules/firewalld"]
	path = environments/production/modules/firewalld
	url = https://github.com/crayfishx/puppet-firewalld
[submodule "environments/production/modules/ntp"]
	path = environments/production/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "environments/production/modules/puppetdb"]
	path = environments/production/modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "environments/production/modules/java"]
	path = environments/production/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "environments/production/modules/java_ks"]
	path = environments/production/modules/java_ks
	url = https://github.com/puppetlabs/puppetlabs-java_ks.git
[submodule "environments/production/modules/puppet"]
	path = environments/production/modules/puppet
	url = https://bitbucket.org/instruct/puppet-puppet.git
